.issuesView-container {
  display: flex;
  flex-direction: column;
  margin: 12px;
}

.issuesView-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.issuesView-label {
  font-weight: bold;
  color: darkblue;
  padding-right: 8px;
}

.issuesView-button {
  margin-left: 8px;
}
